body{
    margin: 0;
    min-width: 1200px;
}
a{
    color: white;
}
.header{
    width: 100%;
    height: 70px;
    background-color: rgba(145, 89, 89, 0.397);
    transition: .5s;
    position: relative;
    z-index: 10;
}

.header_center{
    text-align: center;
}

.header_center ul{
    margin: 0;
    list-style: none;
}

.header_into{
    width: 200px;
    height: 50px;
    background-color: rgba(233, 215, 214, 0);
    display: inline-block;
    margin: 9px;
    transition: .5s;
    border-radius: 2px;
}

.header_into p{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.836);
    margin: 12px;
    transition: .5s;
}
/* /////////////////////////////////////////////////////////////// */

.header_into:hover{
    background-color: rgba(233, 215, 214, 0.795);
}

.header_into:hover > p{
    color: rgb(53, 46, 44);
}

.header:hover{
    background-color: rgba(100, 44, 44, 0.925);
}

/* ////////////////////////////////////////////////////////////// */

.pr_image{
    position: relative;
    width: 100%;
    height: 500px;
    background-color: black;
    margin-top: -70px;
    z-index: 1;
    overflow: hidden;
    display: flex;  
}
.pr_image img:first-child {
    animation: loop 30s -15s linear infinite;
    height: 100%;
    
  }
  
.pr_image img + img {
    animation: loop2 30s linear infinite;
    height: 100%;
    
  }


/* //////////////////////////////////////////////////////////////// */

@keyframes loop{
0%{
    opacity: 1;
    transform:translateX(300%)
}

100%{
    opacity: 1;
    transform:translateX(-180%)
}

}
@keyframes loop2{
    0%{
        opacity: 1;
        transform:translateX(170%)
    }
    
    100%{
        opacity: 1;
        transform:translateX(-200%)
    }
}

/* //////////////////////////////////////////////////////////////// */

.main{
    text-align: center;
    
}

.pr1{
    
    display: inline-block;
    margin: auto;
}

iframe{
    width: 100%;
    height: 100vh;
    border: none;
}

.pr1 h1{
    text-align: center;
    font-size: 40px;
}

.pr1 p{
    text-align: center;
}

.side{
    width: 30%;
    display: inline-block;
    margin: auto;
    vertical-align: top;
}

.side img{
    width: 50%;
    
}
#icon2{
    transform: translateY(150px);
}
/* /////////////////////////////////////////////// */
.exp{
    margin: 5px;
    border-radius: 5px;
    background-color: brown;
}
.exp2{
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(36, 124, 33);
}

.side p{
    font-weight: bold;
    
}
#en_icon{
    background-color: rgb(176, 175, 255);
    border-radius: 5px;
}
#en_icon2{
    background-color: rgb(255, 184, 175);
    border-radius: 5px;
}
.side a{
    color: teal;
    text-decoration: none;
    
}